.new-tweet {
  border: 1px solid grey;
  background-color: #eee;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 4px;
}
/* //////////////////////////////////////// */
.new-tweet h2 {
  border-bottom: 1px solid black;
  margin: 10px 10px 10px 10px;  
}

.new-tweet form {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.new-tweet textarea {
  width:100%;
}

.new-tweet .counter {
  float: right;
}