 /* This CSS file is responsible for styling the tweet form*/

.new-tweet {                                              
  border: 1px solid grey;
  background-color: #eee;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 4px;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin: 10px 10px 10px 10px;  
}

.new-tweet form {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.new-tweet textarea {
  width:100%;
}

/*Keeping the character counter at the bottom corner*/
.new-tweet .counter {
  float: right;
}

/*this ID and property is to show errors below the form dynamically[currently hidden]*/
#error-empty {
  display: none;
}
/*this ID and property is to show errors below the form dynamically[currently hidden]*/
#error-tooLong{
  display: none;
}

/*---------------------------------------------------------------*/

.tweets{
  margin-top:1%;
  border: 1px solid grey;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 4px;
  
}
.tweets header {
  display:flex;
  height:50px;
  background-color: #eee;
  justify-content: flex-start;
  border-radius: 4px;
}
.tweets p {
  display:flex;
  justify-content: flex-start;
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 5px;
  word-break: break-all;
}

.tweets img{
  display:flex;
  margin-left:5px;
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  width:40px;
  height:40px;
  opacity:0.7;
}
.tweets h3{
  display:flex;
  font-weight: bold;
  margin-left:5px;
  margin-top:5px;
  width:50%;
  
}
.tweets header p{
  display:flex;
  margin-top:5px;
  width:35%;
  justify-content: flex-end;
  margin-top:10px;
  margin-right:5px;
  
}

.tweets footer{
  display: flex;
  justify-content: space-between;
}

.tweets footer p {

  display:flex;
  justify-content: flex-start;
  margin-left:5px;
  margin-top:0;
  margin-bottom:5px;
}

.icons{
  display:none;
}


.hover-true{
  display:flex;
  justify-content: space-between;
  width:15%;
  margin-right:10px;
 
}
.hover-true-body-bord {
  border-color: rgba(0, 0, 0, 0.651);
}

.hover-true-image{
  opacity:1.0!important;
}
.hover-true-bord{
  color:black;
  border-color: rgba(0, 0, 0, 0.651);
  background-color: rgb(218, 218, 218)!important;
}

