/*Styling for posted tweet*/

/*container of single tweet*/
.tweets{
  margin-top:1%;
  border: 1px solid grey;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 4px;
  
}
/*header*/
.tweets header {
  display:flex;
  height:50px;
  background-color: #eee;
  justify-content: flex-start;
  border-radius: 4px;
}
/*the tweeted text*/
.tweets p {
  display:flex;
  justify-content: flex-start;
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 5px;
  word-break: break-all;
}
/*avatar*/
.tweets img{
  display:flex;
  margin-left:5px;
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  width:40px;
  height:40px;
  opacity:0.7;
}
/*name of the user*/
.tweets h3{
  display:flex;
  font-weight: bold;
  margin-left:5px;
  margin-top:5px;
  width:50%;
  
}
/*handle of the user*/
.tweets header p{
  display:flex;
  margin-top:5px;
  width:35%;
  justify-content: flex-end;
  margin-top:10px;
  margin-right:5px;
  
}

.tweets footer{
  display: flex;
  justify-content: space-between;
}
/*date*/
.tweets footer p {

  display:flex;
  justify-content: flex-start;
  margin-left:5px;
  margin-top:0;
  margin-bottom:5px;
}

.icons{
  display:none;
}
/*Classes responsible for hovering over tweet*/

.hover-true{
  display:flex;
  justify-content: space-between;
  width:15%;
  margin-right:10px;
}
/*border upon hover*/
.hover-true-body-bord {
  border-color:black!important;
}
/*avatar upon hover*/
.hover-true-image{
  opacity:1.0!important;
}
/*border of header upon hover*/
.hover-true-bord{
  color:black;
  border-color: rgb(0, 0, 0);
  background-color: rgb(218, 218, 218)!important;
}

